*{
    padding: 0;
    margin: 0;
}
body{
    background-color: azure ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('./images/top.svg') no-repeat;
    background-size: cover;
    background-position: 50% -900px ;
    /* padding-bottom: 500px; */
    overflow-x: hidden;
}

.btn{
    cursor: pointer;
    padding: 20px;
    text-align: center;
    background-color: rgba(6, 120, 126,0);
}
.btn1{
    color:  whitesmoke;
    border-radius: 20px;
    font-size: medium;
    border: 3px solid rgb(15, 159, 243);
}
.btn2{
    color: black;
    font-size: larger;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid rgb(15, 159, 243);
}

.btn3{
    color: black;
    font-size: large;
    border-radius: 30px;
    border: 0px;
    background-color: lightgrey;
}
