.animation-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.pg-cover{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* background-color: lawngreen; */
    /* width: 100%; */
}
.pg-cover > div:nth-child(1){
    /* position: absolute; */
    width: 700px;
    height: 100%;
}

.bg-animation{
    height: 100%;
}

.portfolio{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio > div:nth-child(1){
    display: flex;
    flex-direction: column;
    width: 850px;
    /* background-color: grey; */
    padding: 30px;
    text-align: center;
    font-size: x-large;
}
.portfolio > div:nth-child(1) > h2{
    margin-bottom: 10px;
}

.portfolio > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-bottom{
    margin-top: 100px;
}